@font-face {
    font-family: 'open-sans-regular';
    src: url(../fonts/open_sans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: 'open-sans-light';
    src: url(../fonts/open_sans/OpenSans-Light.ttf);
}

@font-face {
    font-family: 'open-sans-bold';
    src: url(../fonts/open_sans/OpenSans-Bold.ttf);
}
