/* You can add global styles to this file, and also import other style files */
@import "./assets/scss/variables.scss";

html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: $f1;
    }
}
